@charset "UTF-8";
@import "../common/utils.css";
@import "common/header-amap.css";
@import "common/footer-amap.css";


body {
  margin: 0;
  padding: 0;
}


    .hero {
        margin: 0;
        padding: 0;
    }

    .hero img {
        width: 100%;
        max-height: 100vh; 
        object-fit: cover; 
        object-position: top; /
    }

 .hero-content {
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    height: 100%; /* Assure que le conteneur utilise toute la hauteur disponible */
    text-align: center; /* Centre le texte */
    
}

@media (max-width: 768px) {
    .hero-content {
        min-height: 70vh; /* Réduit la hauteur sur des écrans plus petits */
        padding: 10px; /* Diminue le padding */
    }
}

/* Section des valeurs */
.values-section {
    text-align: center;
    margin: 40px 20px;
}

.values-section h2 {
    font-size: 2rem;
    color: #e67e22;
    margin-bottom: 20px;
}

.value-blocks {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}

.value-block {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(33.333% - 20px);
    padding: 15px;
    max-width: 300px;
}

.value-block img.value-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.value-block h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.value-block p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
}

/* Section Présentation */
.presentation-section {
    text-align: center;
    margin: 40px 20px;
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.presentation-section h2 {
    font-size: 2rem;
    color: #e67e22;
    margin-bottom: 20px;
}

.presentation-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /
}

/* Texte */
.presentation-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
}

.presentation-text h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.presentation-text p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

/* Image */
.presentation-image-container {
    flex: 1;
    max-width: 50%;
    text-align: right; 
}

.presentation-image-container img.presentation-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .presentation-block {
        flex-direction: column; 
        align-items: center;
    }

    .presentation-text, 
    .presentation-image-container {
        max-width: 100%;
        text-align: center; 
    }
}

 
.buttons a {
    white-space: nowrap; /* Empêche les boutons de se casser en deux lignes */
}

