@charset "UTF-8";
@import "../../common/utils.css";
@import "common/header-amap.css"; 
@import "common/footer-amap.css";
.contract-detail-container {
	display: flex;
	gap: 40px; /* Espace entre les colonnes */
	margin-top: 20px;
}

.contract-image {
	flex: 2; /* 20% de la largeur totale */
	text-align: center;
}

.contract-image img {
	width: 100%; /* Image responsive */
	max-height: 300px;
	object-fit: cover;
	border-radius: 10px; /* Coins arrondis */
}

.contract-info {
	flex: 7; /* 70% de la largeur totale */
}

.quantity-selector {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

.quantity-selector input {
	width: 50px;
	text-align: center;
}

.btn-add-to-cart {
	background-color: #FF8C42;
	border: none;
	padding: 10px 20px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.btn-add-to-cart:hover {
	background-color: #FF6A00;
}