@charset "UTF-8";

body {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.container {
	max-width: 600px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	font-size: 1.25rem;
	font-weight: bold;
	font-family: 'Futura', sans-serif;
	color: #333;
	padding: 10px;
}

.btn-close {
	background-color: transparent;
	border: none;
	font-size: 1.25rem;
	color: #333;
	cursor: pointer;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"]
	{
	border-radius: 25px;
	border: 1px solid #ccc;
	padding: 10px 20px;
	font-size: 1rem;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus,
	input[type="password"]:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="submit"] {
	background-color: #344238;
	color: #fff;
	border-radius: 25px;
	padding: 10px 30px;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

button[type="submit"]:hover {
	background-color: #455449;
}