@charset "UTF-8";

footer {
    background-color: var(--olive);
    color           : var(--peach);
    text-decoration : none;
}

footer .nav-link {
    color: var(--peach);
}

footer .nav-link:hover {
    color: var(--tangerine);
}