@charset "UTF-8";

body {
    margin: 0;
    background-color: #FFBE98; 
}


.container-fluid {
    background-color:  #FFBE98; 
    padding: 10px 20px;
}

/* Logo */
#logo-header {
    border-radius: 50%;
   background-color: #E3E3E3;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* Navbar */
.navbar-nav .nav-item .nav-link {
    color: #333; 
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #000; 
}


.btn {
    font-weight: bold;
    border-radius: 80px;
    padding: 5px 15px;
    font-size: 14px;
}

.btn-outline-light {
    color: #333; /* Texte */
    border: 1px solid #333;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-light:hover {
    background-color: #333;
    color: #fff;
}

.btn-success {
    background-color: #fff;
    color: #333;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.btn-success:hover {
    background-color: #333;
    color: #fff;
}


@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    #logo-header {
        margin-bottom: 10px;
    }
}
