@import "../../common/fonts.css";
  
:root {
  --peach         : rgb(255, 190, 152);
  --lightTangerine: #FFB185;
  --tangerine     : #FFA570;
  --olive         : #223026;
  --snow          : #FFFAF8;
}


.btn-olive {
  --bs-btn-color                : var(--snow);
  --bs-btn-bg                   : var(--olive);
  --bs-btn-border-color         : var(--olive);
  --bs-btn-hover-color          : var(--snow);
  --bs-btn-hover-bg             : #336140;
  --bs-btn-hover-border-color   : #284b32;
  --bs-btn-focus-shadow-rgb     : 130, 138, 145;
  --bs-btn-active-color         : var(--snow);
  --bs-btn-active-bg            : #243629;
  --bs-btn-active-border-color  : #294230;
  --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color       : var(--snow);
  --bs-btn-disabled-bg          : var(--olive);
  --bs-btn-disabled-border-color: var(--olive);
}

.btn-outline-olive {
  --bs-btn-color                : var(--olive);
  --bs-btn-border-color         : var(--olive);
  --bs-btn-hover-color          : var(--snow);
  --bs-btn-hover-bg             : var(--olive);
  --bs-btn-hover-border-color   : var(--olive);
  --bs-btn-focus-shadow-rgb     : 108, 117, 125;
  --bs-btn-active-color         : var(--snow);
  --bs-btn-active-bg            : var(--olive);
  --bs-btn-active-border-color  : var(--olive);
  --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color       : var(--olive);
  --bs-btn-disabled-bg          : transparent;
  --bs-btn-disabled-border-color: var(--olive);
  --bs-gradient                 : none;
}