@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPTCond-BoldObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPTCond-BoldObl.woff') format('woff');
    font-weight : bold;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPTCond-MediumObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPTCond-MediumObl.woff') format('woff');
    font-weight : 500;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-BoldObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-BoldObl.woff') format('woff');
    font-weight : bold;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPTCond-ExtraBold.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPTCond-ExtraBold.woff') format('woff');
    font-weight : bold;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPTCond-Medium.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPTCond-Medium.woff') format('woff');
    font-weight : 500;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPTCond-BookObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPTCond-BookObl.woff') format('woff');
    font-weight : normal;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-Book.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-Book.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-BookObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-BookObl.woff') format('woff');
    font-weight : normal;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPTCond-Book.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPTCond-Book.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-Bold.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-Bold.woff') format('woff');
    font-weight : bold;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPTCond-Bold.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPTCond-Bold.woff') format('woff');
    font-weight : bold;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPTCond-ExtraBoldObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPTCond-ExtraBoldObl.woff') format('woff');
    font-weight : bold;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-Demi.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-Demi.woff') format('woff');
    font-weight : 600;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-MediumObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-MediumObl.woff') format('woff');
    font-weight : 500;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-DemiObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-DemiObl.woff') format('woff');
    font-weight : 600;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-Medium.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-Medium.woff') format('woff');
    font-weight : 500;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-Heavy.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-Heavy.woff') format('woff');
    font-weight : 900;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-Light.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-Light.woff') format('woff');
    font-weight : 300;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-HeavyObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-HeavyObl.woff') format('woff');
    font-weight : 900;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-ExtraBoldObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-ExtraBoldObl.woff') format('woff');
    font-weight : bold;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-LightObl.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-LightObl.woff') format('woff');
    font-weight : 300;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Futura/subset-FuturaPT-ExtraBold.woff2') format('woff2'),
        url('../../../fonts/Futura/subset-FuturaPT-ExtraBold.woff') format('woff');
    font-weight : bold;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Futura'),
        local('futura'),
        url('../../../fonts/Roboto/subset-Roboto-Thin.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-Thin.woff') format('woff');
    font-weight : 100;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-BlackItalic.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-BlackItalic.woff') format('woff');
    font-weight : 900;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-BoldItalic.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-BoldItalic.woff') format('woff');
    font-weight : bold;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-Bold.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-Bold.woff') format('woff');
    font-weight : bold;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-Medium.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-Medium.woff') format('woff');
    font-weight : 500;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-Italic.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-Italic.woff') format('woff');
    font-weight : normal;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-Light.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-Light.woff') format('woff');
    font-weight : 300;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-Black.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-Black.woff') format('woff');
    font-weight : 900;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-MediumItalic.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-MediumItalic.woff') format('woff');
    font-weight : 500;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-Regular.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-Regular.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-LightItalic.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-LightItalic.woff') format('woff');
    font-weight : 300;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../../fonts/Roboto/subset-Roboto-ThinItalic.woff2') format('woff2'),
        url('../../../fonts/Roboto/subset-Roboto-ThinItalic.woff') format('woff');
    font-weight : 100;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src        :
        local('Nunito'),
        local('nunito'),
        url('../../../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src        :
        local('Nunito'),
        local('nunito'),
        url('../../../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito-sans';
    src        :
        local('Nunito'),
        local('nunito'),
        url('../../../fonts/Nunito/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-sans';
    src        :
        local('Nunito Sans'),
        local('nunito sans'),
        url('../../../fonts/Nunito/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src        :
        local('Montserrat'),
        local('montserrat'),
        url('../../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src        :
        local('Montserrat'),
        local('montserrat'),
        url('../../../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}