.theme-2.dark {
/*redefinition of colours for current theme*/
	--orange-050: #FED9B7;
	--orange-100: #FBBFA3; 
	--orange-300: #F7A58F; 
	--orange-600: #F48B7B; 
	--orange-700: #F07167;
	--orange-900: #A71B11;
	
	--green-400: #00AFB9;
	--green-500: #0098B0;
	--green-600: #0081A7;
	--green-700: #00607D; 
	--green-800: #003F52;
	--green-900: #001F29; 
	
    --main-bg-color  : var(--green-900);
    --main-font-color: var(--orange-100);
    --alt-font-color: var(--white-300);
}

.theme-2.dark .btn-900 {
    --bs-btn-color                : var(--orange-100);
    --bs-btn-bg                   : var(--green-900);
    --bs-btn-border-color         : var(--green-900);
    --bs-btn-hover-color          : var(--orange-100);
    --bs-btn-hover-bg             : var(--green-500);
    --bs-btn-hover-border-color   : var(--green-600);
    --bs-btn-focus-shadow-rgb     : 130, 138, 145;
    --bs-btn-active-color         : var(--white-300);
    --bs-btn-active-bg            : var(--green-500);
    --bs-btn-active-border-color  : var(--green-600);
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--white-300);
    --bs-btn-disabled-bg          : var(--black-400);
    --bs-btn-disabled-border-color: var(--green-900);
}

.theme-2.dark .btn-outline-900 {
    --bs-btn-color                : var(--green-900);
    --bs-btn-border-color         : var(--green-900);
    --bs-btn-hover-color          : var(--white-300);
    --bs-btn-hover-bg             : var(--green-900);
    --bs-btn-hover-border-color   : var(--green-900);
    --bs-btn-focus-shadow-rgb     : 108, 117, 125;
    --bs-btn-active-color         : var(--white-300);
    --bs-btn-active-bg            : var(--green-900);
    --bs-btn-active-border-color  : var(--green-900);
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--green-900);
    --bs-btn-disabled-bg          : transparent;
    --bs-btn-disabled-border-color: var(--green-900);
    --bs-gradient                 : none;
}

.theme-2.dark .btn-700 {
    --bs-btn-color                : var(--orange-600);
    --bs-btn-bg                   : var(--green-400);
    --bs-btn-border-color         : var(--green-400);
    --bs-btn-hover-color          : var(--orange-600);
    --bs-btn-hover-bg             : var(--green-500);
    --bs-btn-hover-border-color   : var(--green-600);
    --bs-btn-focus-shadow-rgb     : 130, 138, 145;
    --bs-btn-active-color         : var(--white-300);
    --bs-btn-active-bg            : var(--green-400);
    --bs-btn-active-border-color  : var(--green-600);
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--white-300);
    --bs-btn-disabled-bg          : var(--black-400);
    --bs-btn-disabled-border-color: var(--green-400);
}

.theme-2.dark .btn-outline-700 {
    --bs-btn-color                : var(--green-900);
    --bs-btn-border-color         : var(--green-900);
    --bs-btn-hover-color          : var(--white-300);
    --bs-btn-hover-bg             : var(--green-900);
    --bs-btn-hover-border-color   : var(--green-900);
    --bs-btn-focus-shadow-rgb     : 108, 117, 125;
    --bs-btn-active-color         : var(--white-300);
    --bs-btn-active-bg            : var(--green-900);
    --bs-btn-active-border-color  : var(--green-900);
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--green-900);
    --bs-btn-disabled-bg          : transparent;
    --bs-btn-disabled-border-color: var(--green-900);
    --bs-gradient                 : none;
}

.theme-2.dark .btn-500 {
    --bs-btn-color                : var(--green-900);
    --bs-btn-bg                   : var(--orange-600);
    --bs-btn-border-color         : var(--orange-600);
    --bs-btn-hover-color          : var(--green-900);
    --bs-btn-hover-bg             : #fdc2a0;
    --bs-btn-hover-border-color   : var(--orange-600);
    --bs-btn-focus-shadow-rgb     : 130, 138, 145;
    --bs-btn-active-color         : var(--green-900);
    --bs-btn-active-bg            : #ffc3a0;
    --bs-btn-active-border-color  : #f59157;
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--green-900);
    --bs-btn-disabled-bg          : var(--black-400);
    --bs-btn-disabled-border-color: var(--orange-600);
}

.theme-2.dark .btn-outline-500 {
    --bs-btn-color                : var(--orange-600);
    --bs-btn-border-color         : var(--orange-600);
    --bs-btn-hover-color          : var(--green-900);
    --bs-btn-hover-bg             : var(--orange-600);
    --bs-btn-hover-border-color   : var(--orange-600);
    --bs-btn-focus-shadow-rgb     : 108, 117, 125;
    --bs-btn-active-color         : var(--green-900);
    --bs-btn-active-bg            : var(--orange-600);
    --bs-btn-active-border-color  : var(--orange-600);
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--orange-600);
    --bs-btn-disabled-bg          : transparent;
    --bs-btn-disabled-border-color: var(--orange-600);
    --bs-gradient                 : none;
}

.theme-2.dark .btn-300 {
    --bs-btn-color                : var(--green-900);
    --bs-btn-bg                   : var(--orange-100);
    --bs-btn-border-color         : var(--orange-100);
    --bs-btn-hover-color          : var(--orange-600);
    --bs-btn-hover-bg             : var(--orange-050);
    --bs-btn-hover-border-color   : var(--orange-100);
    --bs-btn-focus-shadow-rgb     : 130, 138, 145;
    --bs-btn-active-color         : var(--orange-050);
    --bs-btn-active-bg            : var(--orange-100);
    --bs-btn-active-border-color  : var(--orange-050);
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--orange-100);
    --bs-btn-disabled-bg          : var(--black-400);
    --bs-btn-disabled-border-color: var(--orange-100);
}

.theme-2.dark .btn-outline-300 {
    --bs-btn-color                : var(--orange-100);
    --bs-btn-border-color         : var(--orange-100);
    --bs-btn-hover-color          : var(--orange-100);
    --bs-btn-hover-bg             : var(--orange-100);
    --bs-btn-hover-border-color   : var(--orange-100);
    --bs-btn-focus-shadow-rgb     : 108, 117, 125;
    --bs-btn-active-color         : var(--orange-600);
    --bs-btn-active-bg            : var(--orange-100);
    --bs-btn-active-border-color  : var(--orange-100);
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--orange-100);
    --bs-btn-disabled-bg          : transparent;
    --bs-btn-disabled-border-color: var(--orange-100);
    --bs-gradient                 : none;
}

.theme-2.dark .btn-100 {
    --bs-btn-color                : var(--green-900);
    --bs-btn-bg                   : var(--white-300);
    --bs-btn-border-color         : var(--green-900);
    --bs-btn-hover-color          : var(--green-900);
	--bs-btn-hover-bg			  : var(--orange-050);
    --bs-btn-hover-border-color   : var(--green-900);
    --bs-btn-focus-shadow-rgb     : 130, 138, 145;
    --bs-btn-active-color         : var(--green-900);
    --bs-btn-active-bg            : var(--black-200);
    --bs-btn-active-border-color  : var(--green-900);
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--black-200);
    --bs-btn-disabled-bg          : var(--black-400);
    --bs-btn-disabled-border-color: var(--black-200);
}

.theme-2.dark .btn-outline-100 {
    --bs-btn-color                : var(--white-300);
    --bs-btn-border-color         : var(--white-300);
    --bs-btn-hover-color          : var(--green-900);
    --bs-btn-hover-bg             : var(--white-300);
    --bs-btn-hover-border-color   : var(--white-300);
    --bs-btn-focus-shadow-rgb     : 108, 117, 125;
    --bs-btn-active-color         : var(--green-900);
    --bs-btn-active-bg            : var(--white-300);
    --bs-btn-active-border-color  : var(--white-300);
    --bs-btn-active-shadow        : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color       : var(--white-300);
    --bs-btn-disabled-bg          : transparent;
    --bs-btn-disabled-border-color: var(--white-300);
    --bs-gradient                 : none;
}


.theme-2.dark .table{

	--bs-table-color: var(--main-font-color);
	--bs-table-border-color: var(--white-300);
}

.theme-2.dark .table-hover tbody tr:hover * {
	--bs-table-color-state: var(--alt-font-color);
	--bs-table-bg-state: rgba(0,0,0,0.3);
}

.theme-2.dark .bg-900 {
    background-color: var(--green-900) !important;
    color           : var(--white-300) !important;
}

.theme-2.dark .bg-700 {
    background-color: var(--green-700) !important;
    color           : var(--white-300) !important;
}

.theme-2.dark .bg-600 {
    background-color: var(--green-400) !important;
}

.theme-2.dark .bg-500 {
    background-color: var(--orange-600) !important;
}

.theme-2.dark .bg-400 {
    background-color: var(--orange-300) !important;
}

.theme-2.dark .bg-300 {
    background-color: var(--orange-100) !important;
}

.theme-2.dark .bg-100 {
    background-color: var(--white-300) !important;
}

.theme-2.dark .bg-main {
    background-color: var(--main-bg-color) !important;
}

.theme-2.dark .navbar {
    --bs-navbar-color                : rgba(var(--orange-100), 0.65);
    --bs-navbar-hover-color          : rgba(var(--orange-100), 0.8);
    --bs-navbar-disabled-color       : rgba(var(--orange-100), 0.3);
    --bs-navbar-active-color         : rgba(var(--orange-100), 1);
    --bs-navbar-toggler-icon-bg      : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 190, 152, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color : var(--orange-100);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
}


.theme-2.dark .border-900 {
    border-color: var(--green-900) !important;
}

.theme-2.dark .border-700 {
    border-color: var(--green-700) !important;
}

.theme-2.dark .border-600 {
    border-color: var(--green-400) !important;
}

.theme-2.dark .border-500 {
    border-color: var(--orange-600) !important;
}

.theme-2.dark .border-400 {
    border-color: var(--orange-300) !important;
}

.theme-2.dark .border-300 {
    border-color: var(--orange-100) !important;
}

.theme-2.dark .border-100 {
    border-color: var(--white-300) !important;
}

.theme-2.dark .border-main {
    border-color: var(--main-bg-color) !important;
}

.theme-2.dark .border-alt {
    border-color: var(--main-font-color) !important;
}

.theme-2.dark .fc-900 {
    color: var(--green-900) !important;
}

.theme-2.dark .fc-700 {
    color: var(--green-700) !important;
}

.theme-2.dark .fc-600 {
    color: var(--green-400) !important;
}

.theme-2.dark .fc-500 {
    color: var(--orange-600) !important;
}

.theme-2.dark .fc-400 {
    color: var(--orange-300) !important;
}

.theme-2.dark .fc-300 {
    color: var(--orange-100) !important;
}

.theme-2.dark .fc-100 {
    color: var(--white-300) !important;
}

.theme-2.dark .fc-main {
    color: var(--main-font-color) !important;
}

.theme-2.dark .fc-alt {
    color: var(--alt-font-color) !important;
}

.theme-2.dark .fch-900:hover {
    color: var(--green-900) !important;
}

.theme-2.dark .fch-700:hover {
    color: var(--green-700) !important;
}

.theme-2.dark .fch-600:hover {
    color: var(--green-400) !important;
}

.theme-2.dark .fch-500:hover {
    color: var(--orange-600) !important;
}

.theme-2.dark .fch-400:hover {
    color: var(--orange-300) !important;
}

.theme-2.dark .fch-300:hover {
    color: var(--orange-100) !important;
}

.theme-2.dark .fch-100:hover {
    color: var(--white-300) !important;
}

.theme-2.dark .fch-main:hover {
    color: var(--main-font-color) !important;
}

.theme-2.dark .fch-alt:hover {
    color: var(--alt-font-color) !important;
}

.theme-2.dark .fill-900 {
    fill: var(--green-900) !important;
}

.theme-2.dark .fill-700 {
    fill: var(--green-700) !important;
}

.theme-2.dark .fill-600 {
    fill: var(--green-400) !important;
}

.theme-2.dark .fill-500 {
    fill: var(--orange-600) !important;
}

.theme-2.dark .fill-400 {
    fill: var(--orange-300) !important;
}

.theme-2.dark .fill-300 {
    fill: var(--orange-100) !important;
}

.theme-2.dark .fill-100 {
    fill: var(--white-300) !important;
}


/*  ###################################################
    ##################  SWITCH  #######################
    ###################################################
*/

.theme-2.dark .form-check-input {
    background-color  : var(--main-font-color);
    border            : var(--bs-border-width) solid var(--main-bg-color);
}

.theme-2.dark .form-switch .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb%2834, 48, 38%29'/%3e%3c/svg%3e");
}

.theme-2.dark .form-switch .form-check-input:checked {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb%28255,190,152%29'/%3e%3c/svg%3e");
}

.theme-2.dark .form-check-input:checked {
    background-color: var(--main-bg-color);
    border-color    : var(--main-font-color);
}

.theme-2.dark .form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}