@font-face {
    font-family: 'Futura condensed';
    src        :
        local('Futura condensed'),
        local('futura condensed'),
        url('../../fonts/Futura/FuturaPTCondBoldOblique.otf') format('truetype');
    font-weight : bold;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura condensed';
    src        :
        local('Futura condensed'),
        local('futura condensed'),
        url('../../fonts/Futura/FuturaPTCondMediumOblique.otf') format('truetype');
    font-weight : 500;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura condensed';
    src        :
    local('Futura condensed'),
    local('futura condensed'),
    url('../../fonts/Futura/FuturaPTCondExtraBold.otf') format('truetype');
    font-weight : 800;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura condensed';
    src        :
    local('Futura condensed'),
    local('futura condensed'),
    url('../../fonts/Futura/FuturaPTCondMedium.otf') format('truetype');
    font-weight : 500;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura condensed';
    src        :
    local('Futura condensed'),
    local('futura condensed'),
    url('../../fonts/Futura/FuturaPTCondBookOblique.otf') format('truetype');
    font-weight : 750;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTBoldOblique.otf') format('truetype');
    font-weight : bold;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTBook.otf') format('truetype');
    font-weight : 750;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTBookOblique.otf') format('truetype');
    font-weight : 750;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura condensed';
    src        :
        local('Futura condensed'),
        local('futura condensed'),
        url('../../fonts/Futura/FuturaPTCondBook.otf') format('truetype');
    font-weight : 750;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTBold.otf') format('truetype');
    font-weight : bold;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura condensed';
    src        :
        local('Futura condensed'),
        local('futura condensed'),
        url('../../fonts/Futura/FuturaPTCondBold.otf') format('truetype');
    font-weight : bold;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura condensed';
    src        :
        local('Futura condensed'),
        local('futura condensed'),
        url('../../fonts/Futura/FuturaPTCondExtraBoldOblique.otf') format('truetype');
    font-weight : 800;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTDemi.otf') format('truetype');
    font-weight : 600;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTMediumOblique.otf') format('truetype');
    font-weight : 500;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTDemiOblique.otf') format('truetype');
    font-weight : 600;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTMedium.otf') format('truetype');
    font-weight : 500;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTHeavy.otf') format('truetype');
    font-weight : 900;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTLight.otf') format('truetype');
    font-weight : 300;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTHeavyOblique.otf') format('truetype');
    font-weight : 900;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTExtraBoldOblique.otf') format('truetype');
    font-weight : 800;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTLightOblique.otf') format('truetype');
    font-weight : 300;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Futura/FuturaPTExtraBold.otf') format('truetype');
    font-weight : 800;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Futura'),
        local('futura'),
        url('../../fonts/Roboto/subset-Roboto-Thin.woff') format('woff');
    font-weight : 100;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-BlackItalic.woff') format('woff');
    font-weight : 900;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-BoldItalic.woff') format('woff');
    font-weight : bold;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-Bold.woff') format('woff');
    font-weight : bold;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-Medium.woff') format('woff');
    font-weight : 500;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-Italic.woff') format('woff');
    font-weight : normal;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-Light.woff') format('woff');
    font-weight : 300;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-Black.woff') format('woff');
    font-weight : 900;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-MediumItalic.woff') format('woff');
    font-weight : 500;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-Regular.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-LightItalic.woff') format('woff');
    font-weight : 300;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src        :
        local('Roboto'),
        local('roboto'),
        url('../../fonts/Roboto/subset-Roboto-ThinItalic.woff') format('woff');
    font-weight : 100;
    font-style  : italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src        :
        local('Nunito'),
        local('nunito'),
        url('../../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src        :
        local('Nunito'),
        local('nunito'),
        url('../../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito Sans';
    src        :
        local('Nunito Sans'),
        local('nunito sans'),
        url('../../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src        :
        local('Nunito Sans'),
        local('nunito sans'),
        url('../../fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src        :
        local('Montserrat'),
        local('montserrat'),
        url('../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src        :
        local('Montserrat'),
        local('montserrat'),
        url('../../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}